/* index.css */
.AppBar {
  margin: 0;
}

#home-page-main-container {
  height: 70vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  margin-top: 0%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


.rotating-image {
  width: 20%;
  height: 50%;
}

.rotating-image:hover {
  animation-name: rotate; /* Use only the rotate animation */
  animation-duration: 3s; /* Adjust the duration as needed */
  animation-timing-function: linear; /* Adjust the timing function as needed */
  animation-iteration-count: infinite; /* Run the animation once */
}

.home-container{
  display: flex;
  margin-left: 30%;
  margin-top: 10%;
}

.contact-outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10%;

}

.contact-inner-container {
  display: flex;
  align-items: center;
}

.card-item {
  margin: 20px;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.fade-in.show {
  opacity: 1;
}

/* Work and Personal Components */

.flex-container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
  margin: 6% auto;
}

.flex-row-container {
  display: flex;
  flex-direction: row;
}

.introduction-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 4%;
}

.introduction-container > * {
  margin-bottom: 4%;
}

/* Fonts designs for colors and sizes */

.small-font {
  font-size: 125%;
  font-weight: 300;
  
}

.medium-font {
  font-size: 150%;
  font-weight: 400;
}

.big-font {
  font-size: 300%;
  font-weight: 800;
}

.gold-font {
  color: #c99e1a;
}

.gray-font {
  color: rgb(238, 238, 238);
}

.white-font {
  color: white;
}

